@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 24, 20, 38;
  --background-end-rgb: 24, 20, 38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 20, 38;
    --background-end-rgb: 24, 20, 38;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide linear infinite;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('../../public/images/dotsbg.png') no-repeat center center fixed;
  background-size: cover;
}

.button-transition {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-transition:hover {
  transform: scale(1.2); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}



html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.separator::before {
  content: "";
  position: absolute;
  right: 0;
  top: 15%;
  bottom: 15%;
  width: 1px;
  background-color: black;
  opacity: 0.8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/public/fonts/Viga.woff2) format('woff2');
  }
}

@media (max-width: 390px) {
  .btn-custom {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-family: 'Gotham', 'Inter', sans-serif;
}
