@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 24, 20, 38;
  --background-end-rgb: 24, 20, 38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 20, 38;
    --background-end-rgb: 24, 20, 38;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/public/fonts/Viga.woff2) format('woff2');
  }
}
